body {
  background-color: beige;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  color: darkred;
}
p {
  font-size: 16px;
  color: blueviolet;
}
ul {
  list-style: none;
}
li {
  margin: 30px;
}
